# ==========================================
# AMBIENTES DE DESENVOLVIMENTO E CACHE
# ==========================================
# PlatformIO
.pio/

# Python Virtual Environments (Backend)
.venv/
venv/
env/
__pycache__/

# VS Code
.vscode/
*.code-workspace

# ==========================================
# ARQUIVOS SENSÍVEIS E CREDENCIAIS (CRÍTICO)
# ==========================================
# Firmware: Senhas Wi-Fi e API Keys
src/secrets.h

# Backend: Chave do Firebase
api/service-account.json

# Variáveis de ambiente gerais
.env

# ==========================================
# ARQUIVOS DE COMPILAÇÃO
# ==========================================
build/
bin/
obj/

